<section class="dev-tag-wrapper" style="visibility: visible;">
    <div class="custom dev-tag">
        <p class="dev-tag-body"><a href="http://tech-ninja.ca" target="blank" class="dev-link-site"><span class="dev-by">Developed By:</span> <span class="dt-primary">Tech </span><span class="dt-secondary">Ninja <span class="dev-by">|</span> Web &amp; IT</span></a></p>
    </div>
    <a class="dev-link">
        <i class="dev-chevron fa fa-chevron-up rotate"></i>
    </a>
    <div class="dev-link-page-wrapper">
        <div class="dev-content">
            <div class="col-md-6 brand-info">
                <div class="brand-logo">
                    <div class="logo">
                        <span class="dev-primary">tech</span> <span class="dev-secondary">ninja</span>
                        <span class="dev-serv">Web &amp; IT</span>
                    </div>
                    <hr class="hr_divide">
                    <h3 class="dev-slogan">Leave The Web To Us!</h3>
                    <p class="dev-info">
                        We Are A Modern Design &amp; Development Studio Serving Clients All Across Canada.
                        <br><br>
                        Contact us to get a quote. It's risk free!
                    </p>
                    <ul class="dev-contact-bar list-inline list-unstyled">
                        <li class="facebook"><a target="_blank" href="https://www.facebook.com/4umNinja/" class="fb-link"><i class="fa fa-lg fa-facebook"></i></a></li>
                        <li class="twitter"><a target="_blank" href="https://twitter.com/4umNinja/" class="twitter-link"><i class="fa fa-lg fa-twitter"></i></a></li>
                        <li class="google"><a target="_blank" href="https://plus.google.com/+Tech-NinjaCa" class="google-link"><i class="fa fa-lg fa-google-plus"></i></a></li>
                        <li class="youtube"><a target="_blank" href="https://www.youtube.com/user/phreelyfe" class="youtube-link"><i class="fa fa-lg fa-youtube"></i></a></li>
                        <li class="laptop"><a target="_blank" href="/4umninja@gmail.com" class="laptop-link"><i class="fa fa-lg fa-laptop"></i></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 contact-form">
                <h3 class="dev-contact dev-secondary form-group">Contact Us Today!</h3>
                <input #n type="text" class="dev-name form-control" placeholder="Enter Your Name">
                <input #e type="email" class="dev-email form-control" placeholder="Enter Your Email">
                <textarea #q name="dev-comments" id="dev-comments" class="dev-comments form-control" rows="3" placeholder="Got Questions?"></textarea>
                <button class="btn btn-primary dev-send" (click)="submitForm(n.value, e.value, q.value)">Send</button>
            </div>
        </div>
    </div>
</section>