<section class="navigation box-shadow-black">
    <nav class="navbar navbar-default">
        <div class="logo-container"><i class="icon-wyf-logo"></i></div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wyf-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div><!--Fluid Container End-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wyf-nav">
            <ul class="nav navbar-nav uppercase">
                <!--<li class="nav-link active"><a [routerLink]="['']">Home <span class="sr-only">(current)</span></a></li>-->
                <li *ngFor="let link of navLinks" class="nav-link">
                    <a pageScroll [href]="link.hash" (click)="scrollTo(link)">
                        {{ link.name }} <span class="sr-only">(current)</span></a>
                    </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</section>