<wyf-slider></wyf-slider>
<wyf-navigation></wyf-navigation>
<a id="about-anchor"></a>
<section class="about container">
	<div class="row">
		<div class="about-paragraph col-md-5 col-md-offset-2">
			<h3 class="title thick-font text-center">hi, i'm dami</h3>
			<p class="description">
				Suspendisse tincidunt vitae orci nec pharetra. <br />
				Donec nec varius tortor. Etiam bibendum, libero id. <br />
				Morbi tincidunt placerat metus, eget congue diam faucibus.
			</p>
		</div>
		<img src="assets/images/home-page/about/dami-sanusi.jpg" alt="" class="about-image col-md-3 img-responsive">
	</div>
	<wyf-particles></wyf-particles>
</section>
<a id="gallery-anchor"></a>
<section class="gallery d-flex justify-content-center align-items-center">
	<div class="d-md-flex flex-row-reverse flex-wrap">
		<div class="flex-row">
			<h2 class="heading uppercase vertical-text">Gallery</h2>
		</div>
		<a href [routerLink]="['/gallery']" class="gallery-link"><div class="d-sm-flex flex-row">
			<div class="gallery-container flex-column">
				<div class="gallery-feature">
					<img src="assets/images/home-page/gallery/weddings.jpg" alt="" class="gallery-feature-image">
				</div>
				<div class="gallery-feature">
					<img src="assets/images/home-page/gallery/events.jpg" alt="" class="gallery-feature-image">
				</div>
			</div>
			<div class="gallery-container flex-column">
				<div class="gallery-feature">
					<img src="assets/images/home-page/gallery/portraits.jpg" alt="" class="gallery-feature-image">
				</div>
				<div class="gallery-feature">
					<img src="assets/images/home-page/gallery/landscapes.jpg" alt="" class="gallery-feature-image">
				</div>
			</div>
		</div></a>
	</div>
</section>
<section class="thoughts d-flex justify-content-center align-items-center flex-wrap flex-column box-shadow-black">
    <div class="thoughts-container container">
		<p class="feature-text text-center text-shadow-white uppercase">
			"Photography is an immediate reaction
			<br />drawing is a meditation."
		</p>
		<p class="feature-text-caption text-center">- henri cartier-bresson -</p>
	</div>
</section>
<a id="services-anchor"></a>
<section class="services text-center text-shadow-white box-shadow-black">
    <h2 class="heading uppercase">Services</h2>
    <div class="services-container d-md-flex justify-content-center flex-wrap">
        <div class="weddings flex-column">
            <i class="icon-weddings"></i>
            <h4 class="title">Weddings</h4>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
        </div>
        <div class="events flex-column">
            <i class="icon-events"></i>
            <h4 class="title">Events</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
        </div>
		<div class="portraits flex-column">
			<i class="icon-portrait"></i>
			<h4 class="title">Portraits</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
		</div>
		<div class="landscapes flex-column">
			<i class="icon-landscape"></i>
			<h4 class="title">Landscapes</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
		</div>
	</div>
</section>
<a id="contact-anchor"></a>
<wyf-contact></wyf-contact>
<dev-brand></dev-brand>
