<section class="slider">
    <img src="assets/images/home-page/slideshow/bg-1.jpg" alt="" class="slider-image">
</section>
<section class="navigation">
    <nav class="navbar navbar-default">
        <div class="logo-container"><i class="icon-wyf-logo"></i></div>
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#wyf-nav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
        </div>
        <!--Fluid Container End-->
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="wyf-nav">
            <ul class="nav navbar-nav uppercase">
                <li class="nav-link active"><a href="#">Home <span class="sr-only">(current)</span></a></li>
                <li class="nav-link"><a href="#">About</a></li>
                <li class="nav-link"><a href="#">Services</a></li>
                <li class="nav-link"><a href="#">Contact</a></li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </nav>
</section>
<section class="about">
    <div class="about-paragraph text-center">
        <h3 class="title thick-font">it's me, dami</h3>
        <p class="description">lorem ipsum</p>
    </div>
    <img src="assets/images/home-page/about/dami-sanusi.jpg" alt="" class="about-image">
</section>
<section class="gallery d-flex justify-content-center align-items-center">
	<div class="d-md-flex flex-row-reverse flex-wrap">
		<div class="flex-row">
			<h2 class="heading uppercase vertical-text">Gallery</h2>
		</div>
		<div class="d-sm-flex flex-row">
			<div class="gallery-container flex-column">
				<div class="gallery-feature">
					<div class="overlay"></div>
					<img src="assets/images/home-page/gallery/weddings.jpg" alt="" class="gallery-feature-image">
				</div>
				<div class="gallery-feature">
					<div class="overlay"></div>
					<img src="assets/images/home-page/gallery/events.jpg" alt="" class="gallery-feature-image">
				</div>
			</div>
			<div class="gallery-container flex-column">
				<div class="gallery-feature">
					<div class="overlay"></div>
					<img src="assets/images/home-page/gallery/portraits.jpg" alt="" class="gallery-feature-image">
				</div>
				<div class="gallery-feature">
					<div class="overlay"></div>
					<img src="assets/images/home-page/gallery/landscapes.jpg" alt="" class="gallery-feature-image">
				</div>
			</div>
		</div>
	</div>
</section>
<section class="thoughts d-flex justify-content-center align-items-center flex-wrap flex-column">
    <div class="thoughts-container container">
		<p class="feature-text text-center shadow-white">
			"Photography is an immediate reaction
			<br />drawing is a meditation."
		</p>
		<p class="feature-text-caption text-center">- henri cartier-bresson -</p>
	</div>
</section>
<section class="services text-center shadow-white">
    <h2 class="heading uppercase">Services</h2>
    <div class="services-container d-md-flex justify-content-center flex-wrap">
        <div class="weddings flex-column">
            <i class="icon-weddings"></i>
            <h4 class="title">Weddings</h4>
            <p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
        </div>
        <div class="events flex-column">
            <i class="icon-events"></i>
            <h4 class="title">Events</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
        </div>
		<div class="portraits flex-column">
			<i class="icon-portrait"></i>
			<h4 class="title">Portraits</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
		</div>
		<div class="landscapes flex-column">
			<i class="icon-landscape"></i>
			<h4 class="title">Landscapes</h4>
			<p class="service-description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac condimentum nunc. Nam quis tortor eu eros dapibus mattis at.</p>
		</div>
	</div>
</section>
<section class="contact">
    <h2 class="heading uppercase shadow-white">Contact</h2>

	<div class="contact-info col-sm-4 col-sm-offset-1">
		<p>Dami Sanusi</p>
		<p>Whitby, ON</p>
		<p>(647) 774-1174</p>
		<p>Dami.Sanusi@gmail.com</p>
		<div class="social-media-icons">
			<a href="https://www.facebook.com/ItsMeDami" class="social-link" target="blank"><i class="icon-facebook"></i></a>
			<a href="https://www.instagram.com/waleyafoto/" class="social-link" target="blank"><i class="icon-instagram"></i></a>
			<a href="http://vsco.co/itsmedami/images/1" class="social-link" target="blank"><i class="icon-vsco"></i></a>
		</div>
	</div>
	<div class="form-container col-sm-4 col-sm-offset-1">
		<form action="" class="contact-form">
			<div class="form-group">
				<input type="text" class="form-control full-name" placeholder="Full Name">
				<input type="email" class="form-control email" placeholder="Email">
				<input type="text" class="form-control inquiry" placeholder="Inquiry">
				<textarea name="" id="" cols="30" rows="10" class="form-control message" placeholder="Write Your Message!"></textarea>
				<button class="wyf-button full-width">Send</button>
			</div>
		</form>
	</div>

</section>
<section class="dev-brand" dev-brand>
</section>
