<section class="contact">
    <div class="container">
		<h2 class="heading uppercase text-shadow-white">Contact</h2>
		<div class="contact-info col-sm-4 col-sm-offset-1">
			<p>Dami Sanusi</p>
			<p>Whitby, ON</p>
			<p>(647) 774-1174</p>
			<p>dami.sanusi@gmail.com</p>
			<div class="social-media-icons">
				<a href="https://www.facebook.com/ItsMeDami" class="social-link col-xs-4" target="blank"><i class="icon-facebook"></i></a>
				<a href="https://www.instagram.com/waleyafoto/" class="social-link col-xs-4" target="blank"><i class="icon-instagram"></i></a>
				<a href="http://vsco.co/itsmedami/images/1" class="social-link col-xs-4" target="blank"><i class="icon-vsco"></i></a>
			</div>
		</div>
		<div class="form-container col-sm-4 col-sm-offset-1">
			<form action="" class="contact-form">
				<div class="form-group">
					<input type="text" class="form-control full-name" placeholder="Full Name">
					<input type="email" class="form-control email" placeholder="Email">
					<input type="text" class="form-control inquiry" placeholder="Inquiry">
					<textarea name="" id="" cols="30" rows="10" class="form-control message" placeholder="Write Your Message!"></textarea>
					<button class="wyf-button full-width">Send</button>
				</div>
			</form>
		</div>
	</div>
</section>